<ion-content>
  <ion-header id="header">
    <ion-toolbar id="toolbar">
      <ion-title id="nav-title">Instagram</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img class="add-image" *ngIf="display; else cuadro" [src]="display">
          <ng-template #cuadro>
            <img class="add-image" src="../../assets/images/cuadro.png" alt="add" (click)="selectImage()">
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-item>
          <ion-textarea [(ngModel)]="message" id="text-input" rows="8" placeholder="What's on your mind?" autosize></ion-textarea>
        </ion-item></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button ion-item (click)="publishToInstagram()" id="post-button" expand="block" shape="round">
          Post
        </ion-button>
      </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>