<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="facebook">
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-label>Facebook</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="instagram">
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-label>Instagram</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="twitter">
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-label>Twitter</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
