
<ion-content>
  <ion-header id="header">
    <ion-toolbar id="toolbar">
      <ion-title id="nav-title">Facebook</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid class="">
    <ion-row>
      <ion-col>
        <img (click)="addImage()" id="add-image" src="../../assets/images/cuadro.png" alt="addImage">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-item>
        <ion-textarea id="text-input" rows="8" placeholder="What's on your mind?" autosize></ion-textarea>
      </ion-item></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button (click)="onClick()" id="post-button" expand="block"  shape="round">
        Post
      </ion-button></ion-col>
    </ion-row>
  </ion-grid>

<ion-tabs selectedIndex="2">
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-label>Facebook</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-label>Instagram</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-label>Twitter</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>

