@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}



#toolbar{
    --background: #1A91DA;
    color: #fff;
    padding: 10px;
}

#nav-title{
    text-align: center;
    font-size: 32px;
}

.add-image{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    margin-top: 15px;
}

#image-fit{
    width: 350px;
    height: 300px;
    display: block;
    margin: auto;
}

#text-input{
    display: block;
    margin: auto;
    margin-top: 25px;
}

#post-button{
    --background: #1A91DA;
}