<ion-content>
  <ion-header id="header">
    <ion-toolbar id="toolbar">
      <ion-title id="nav-title">SocialHub</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-fab *ngIf="display" horizontal="end">
            <ion-fab-button (click)="deleteImage()" id="delete-button"><ion-icon name="close-outline"></ion-icon></ion-fab-button>
          </ion-fab>
          <div id="image-fit">
          <img class="add-image animated rollIn" *ngIf="display; else cuadro" [src]="display" (click)="selectImage()">
          <ng-template #cuadro>
            <img class="add-image" src="../../assets/images/cuadro.png" alt="add" (click)="selectImage()">
          </ng-template>
        </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-item>
          <ion-textarea [(ngModel)]="message" id="text-input" rows="4" placeholder="What's happening?" autosize></ion-textarea>
        </ion-item></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="shareOnTwitter()" ion-item id="post-button" expand="block" shape="round">
          Tweet
        </ion-button>
      </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>