
<ion-content [fullscreen]="true" class="bg-img">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <ion-grid>
          <ion-row>
            <ion-col class="logo-text">
              <img class="logo" src="../../assets/images/logo.png">
              SocialHub
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button id="facebook-btn" (click)="loginWithFB()" expand="block"><ion-icon class="social-icons" name="logo-facebook"></ion-icon><span class="btn-text">Login with Facebook</span></ion-button>
            </ion-col>
          </ion-row>
      
          <ion-row align-items-center justify-content-center style="height: 100%">
            <ion-col>
              <ion-button id="ig-btn" routerLink="/main" routerDirection="root" expand="block"><ion-icon class="social-icons" name="logo-instagram"></ion-icon><span class="btn-text">Login with Instagram</span></ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
