
<ion-content [fullscreen]="true" class="bg-img">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <ion-grid>
          <ion-row>
            <ion-col class="logo-text">
              <img class="logo" src="../../assets/images/logo.png">
              <span id="logo-txt">SocialHub</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button id="facebook-btn" (click)="goToApp()" expand="block"><span class="btn-text">Get started!</span></ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
