
<ion-content [fullscreen]="true" class="bg-img">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <ion-grid>
          <ion-row>
            <ion-col class="logo-text">
              <div class="logo-header animated fadeIn">
                <img class="logo" src="../../assets/images/logo.png">
                <span id="logo-txt">SocialHub</span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="btn-animation animated zoomInUp delay-1s">
              <ion-button id="main-btn" size="large" (click)="goToApp()" expand="block"><span class="btn-text">Get started!</span></ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
